/*GENERALS RULS*/
body {
    font-family: 'Poppins', sans-serif;
}


/*HEADER*/
header {
    background: linear-gradient(45deg,#bad5dc 45%, #b4b4af 100%);
}


/*DIAPORAMA*/
.diapo {
    overflow: hidden;
    height:300px;
}

#nav-droite, #nav-gauche {
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
    cursor: pointer;
}

.play_controls {
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3em;
    cursor: pointer;
}

#nav-droite {
    right: 20px;
}

#nav-gauche {
    left: 20px;
}

.elements {
    transition: 0.7s;
}


.element > img {
    max-width: 100%;
    border-radius: 15px;
    width:100%;
    object-fit:cover;
}

.caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b5bab7;
    opacity: 0.7;
    border-radius: 15px;
}

/*Carte et panneau d'information*/
#maCarte {
    height: 500px;
    border-radius: 10px;
}

#map-container{
    display: flex;
}

#stationinfo {
    text-align: center;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
}

.station-header{
    font-size: 2em;
}

h4{
    font-size: 1.2em;

}

#lastname{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

#firstname{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

input[type="submit"] {
    background-color: #0e86ca;
    color: white;
    border: 1px solid #10a1de;
    margin: 20px 0px;
    padding: 9px 30px;
    font-size: 17px;
    line-height: 20px;
}

/*Canvas*/

#canvas{
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    cursor: default;
}

#clearcanvas {
    background-color: #F30;
    color: white;
    border: 1px solid #F30;
    padding: 9px 30px;
    font-size: 17px;
    line-height: 20px;
}

/*info de la reservation*/

#infoReservation {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}


/*Footer*/
footer {
    background: linear-gradient(45deg,#bad5dc 45%, #b4b4af 100%);
    height: 100px;
    display: flex;
    justify-content: space-around;
}


#logo_footer{
    height: 100px;
}


/*Responsive*/
@media (min-width: 220px) {
    h1{
        font-size: 1em;
    }

    h2{
        font-size: 1em;
    }

    .play_controls {
        font-size: 2em;
    }

    #nav-gauche{
        left: 3px;
    }

    #nav-droite{
        right: 3px;
    }

    #nav-droite, #nav-gauche {
        font-size: 2em;
    }


    .caption {
        width: 100%;
        font-size: 13px;
    }
}

@media (min-width: 320px) {
    h1 {
        font-size: 1.5em;
    }

   h2 {
        font-size: 1.5em;
    }

    .play_controls {
        font-size: 2em;
    }

    #nav-droite, #nav-gauche {
        font-size: 2em;
    }

    .caption {
        left: 50%;
        width: 50%;
        font-size: 13px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    #nav-droite, #nav-gauche {
        font-size: 3em;
    }

    .caption {
        width: 50%;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3{
        font-size: 2em;
    }

    .caption {
        font-size: 17px;
    }
}
